<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{ config.title }}</title>
    <link rel="stylesheet" href="{{get_url(path='style.css')}}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arbutus+Slab&family=Caveat:wght@400..700&family=Roboto+Slab:wght@100..900&family=Zen+Maru+Gothic&family=Zen+Old+Mincho&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="sidebar">
            <div class="profile-picture-div">
                <img class="profile-picture" src="{{get_url(path='yuuko 500px.jpg')}}" width="200px" alt="My profile picture, Yuuko Aioi from Nichijou doing double peace signs">
            </div>
            
            <div class="sticky-sidebar">
                <p class="title">
                    villuna's blog
                </p>

                <div class={%if lang == "jp" %} "links-jp" {% else %} "links" {% endif %}>
                    <a href="blog">
                        {{trans(key='blog', lang=lang)}}
                    </a>

                    <a href="https://villi-refurinn.bandcamp.com">
                        {{trans(key='music', lang=lang)}}
                    </a>

                    <a href="404">
                        {{trans(key='mystuff', lang=lang)}}
                    </a>
                </div>
            </div>
        </div>

        <div class="main">
            <div class="main-content">
                {% block content %} {% endblock %}
            </div>
        </div>

        <img src="{{get_url(path='ohmygah.png')}}" class="oh-my-gah" width="100px" alt="Osaka from Azumanga Daioh looking shocked" title="oh my gah">
    </div>
</body>

</html>
