{% extends "base.html" %}

{% block content %}

<h1 class="title">
    Welcome to my website!
</h1>

<p>Hello! I'm villuna, and this is my website. I like programming, music, rhythm games among other interests, and I like to yap incessantly about them. This page is meant to be my blog, but I don't have any posts yet (>_<), but if you would like to see some of the things I've made, here are some links:</p>

<ul>
    <li><a href="tumblin"><b>Tumblin down demo</b></a> - A 3d rendering demo in wgpu. You can run it in your browser!
    <li><a href="https://github.com/villuna/kaku"><b>Kaku</b></a> - A text rendering engine I wrote for rust because I was frustrated that I couldn't render outlines efficiently in wgpu.</li>
    <li><a href="https://github.com/villuna/taiko"><b>Taiko</b></a> - A TJA player written in rust with WGPU. I started this project as an excuse to learn WGPU and graphics programming (and is where kaku was born!).
</ul>

I also make ambient music, which I post <a href="https://villi-refurinn.bandcamp.com/">here</a>. 

{% endblock content %}
